<div class="container">
  <div class="col-6">
    <%= simple_form_for list do |f| %>
      <%= f.input :name, label: 'List Name:' %>
      <%= f.submit "Create List", class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
