<div class="container">
  <h1>Lists</h1>
    <ul>
      <% @lists.each do |list| %>
      <li><%= link_to list.name, list_path(list) %></li>
      <% end %>
    </ul>
  <%= link_to new_list_path do %>
    <p><i class="fa-solid fa-plus"></i>Add new list</p>
  <% end %>
</div>
</div>
